.volumeControlContainer {
  display: flex;
  align-items: center;
  margin-left: 10px;
  -webkit-app-region: no-drag;
}

.volumeControl {
  background-color: var(--header-bg);
  z-index: 10;
  padding: 10px 12px;
}

.btn {
  width: 18px;
}
